@page "/"
@using ProductListWithCart.Components

<div class="container">
  <div class="content">
    <div class="product-container">
      <h1>Shopping</h1>
      <div class="product-grid">
        <ProductCard/>
      </div>
    </div>
    <Cart/>
  </div>
</div>
