<div class="cart-container">
    <div class="cart-content">
        <h2>Your Cart (4)</h2>
        <div class="cart-product-card">
            <img src="assets/chicken.png" alt="chicken"/>
            <div class="cart-product-details-container">
                <span class="product-name">Eggs</span>
                <span class="cart-product-price">1 x $2.99</span>
            </div>
        </div>
        <div class="cart-product-card">
            <img src="assets/chicken.png" alt="chicken"/>
            <div class="cart-product-details-container">
                <span class="product-name">Eggs</span>
                <span class="cart-product-price">1 x $2.99</span>
            </div>
        </div>
        <div class="cart-product-card">
            <img src="assets/chicken.png" alt="chicken"/>
            <div class="cart-product-details-container">
                <span class="product-name">Eggs</span>
                <span class="cart-product-price">1 x $2.99</span>
            </div>
        </div>
        <div class="cart-product-card">
            <img src="assets/chicken.png" alt="chicken"/>
            <div class="cart-product-details-container">
                <span class="product-name">Eggs</span>
                <span class="cart-product-price">1 x $2.99</span>
            </div>
        </div>
        <div class="total-container">
            <span class="total">Total</span>
            <span class="total-amount">$43.02</span>
        </div>
        <div class="checkout-container">
            <button class="checkout-button">Check out</button>
        </div>
    </div>
</div>

@code {
    
}